.paperPlane1 {
  position: absolute;
  top: -100px;
  left: calc(50% - 80px);
  animation: flyAnimation1 7s linear infinite;
  font-size: xx-large;
  
}

.paperPlane2 {
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  animation: flyAnimation2 8s linear infinite;
  font-size: x-large;
}

.paperPlane3 {
  position: absolute;
  top: -200px;
  right: calc(90% - 90px);
  animation: flyAnimation3 8s linear infinite;
  font-size: x-large;
}

.paperPlane4 {
  position: absolute;
  top: -120px;
  left: calc(50% - 50px);
  animation: flyAnimation4 8.5s linear infinite;
  font-size: xx-large;
}

.paperPlane5 {
  position: absolute;
  top: -50px;
  right: calc(-150% - -150px);
  animation: flyAnimation5 8s linear infinite;
  font-size: x-large;
}

.paperPlane6 {
  position: absolute;
  top: -100px;
  right: calc(10% - 10px);
  animation: flyAnimation6 8s linear infinite;
  font-size: xx-large;
}

@keyframes flyAnimation1 {
  0% {
    transform: translate(-90, -90) rotate(10);
    opacity: 1;
  }
  100% {
    transform: translate(100vw, 100vh) rotate(720deg);
    opacity: 0;
  }
}

@keyframes flyAnimation2 {
  0% {
    transform: translate(80, 80) rotate(0);
    opacity: 1;
  }
  100% {
    transform: translate(100vw, 100vh) rotate(-720deg);
    opacity: 0;
  }
}

@keyframes flyAnimation3 {
  0% {
    transform: translate(20, 20) rotate(0);
    opacity: 1;
  }
  100% {
    transform: translate(100vw, 100vh) rotate(720deg);
    opacity: 0;
  }
}

@keyframes flyAnimation4 {
  0% {
    transform: translate(-30, -30) rotate(0);
    opacity: 1;
  }
  100% {
    transform: translate(100vw, 100vh) rotate(-720deg);
    opacity: 0;
  }
}

@keyframes flyAnimation5 {
  0% {
    transform: translate(40, 40) rotate(0);
    opacity: 1;
  }
  100% {
    transform: translate(100vw, 100vh) rotate(520deg);
    opacity: 0;
  }
}

@keyframes flyAnimation6 {
  0% {
    transform: translate(0, 0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: translate(100vw, 100vh) rotate(720deg);
    opacity: 0;
  }
}

